<nav class="navbar navbar-light bg-light d-flex justify-content-between align-items-center px-3">
  <!-- زرار الهامبرجر (للموبايل) -->
  <button class="btn btn-light d-lg-none me-2" (click)="toggleSidebar.emit()">
    <i class="bi bi-list"></i>
  </button>

  <div>
    <img src="images/logo.jpg" alt="">
  </div>
  <div class="d-flex align-items-start">

        <!-- لينكات اللغات -->
    <div class="language-switcher">
      <button mat-icon-button [matMenuTriggerFor]="langMenu">
        <img src="flags/{{ currentLang }}.png" alt="{{ currentLang }}" width="24" />
      </button>

      <mat-menu #langMenu="matMenu">
        <button mat-menu-item *ngFor="let lang of languages" (click)="switchLanguage(lang.code)">
          <img src="flags/{{ lang.code }}.png" width="24" style="margin-right: 8px" />
          {{ lang.label }}
        </button>
      </mat-menu>
    </div>

    <!-- الهيدر -->
<mat-toolbar color="primary">



  <!-- User Avatar -->
  <button mat-button [matMenuTriggerFor]="userMenu">
    <img src="images/user.jpg" alt="Avatar" width="32" height="32" style="border-radius:50%; margin-right:8px">
   username
  </button>

  <!-- Menu -->
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item >
      <mat-icon>person</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item   (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>  {{ 'logout' | translate }}</span>
    </button>
  </mat-menu>
</mat-toolbar>




    <!-- اللوجو -->

    <!-- زرار تسجيل الخروج -->
    <!-- <button class="btn btn-danger ms-3">
      {{ 'logout' | translate }}
    </button> -->
  </div>
</nav>
